<?xml version="1.0"?>
<robot xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:xacro="http://ros.org/wiki/xacro"
       name="magnetometer">

  <xacro:macro name="inertia_cuboid" params="mass width height depth *origin">
    <inertial>
      <mass value="${mass}" />
      <xacro:insert_block name="origin" />
      <inertia ixx="${(mass*(height*height+depth*depth))/12}" ixy="0.0" ixz="0.0" iyy="${(mass*(width*width+depth*depth))/12}" iyz="0.0" izz="${(mass*(width*width+height*height))/12}"/>
    </inertial>
  </xacro:macro>

  <!-- BASE LINK -->
  <link name="magnetometer_link">
    <visual>
      <geometry>
        <xacro:element xacro:name="box" size="0.2 0.2 0.2"/>
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <xacro:element xacro:name="box" size="0.2 0.2 0.2"/>
      </geometry>
    </collision>
    <xacro:inertia_cuboid width="0.2" height="0.2" depth="0.2" mass="1">
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:inertia_cuboid>
  </link>

  <!-- IMU -->
  <gazebo reference="magnetometer_link">
    <sensor name="magnetometer_sensor" type="magnetometer">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <topic>magnetometer</topic>
      <plugin filename="libgazebo_ros_magnetometer.so" name="magnetometer_plugin">
        <topicName>/magnetometer</topicName>
        <frameName>magnetometer_link</frameName>
        <updateRateHZ>100.0</updateRateHZ>
      </plugin>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
    </plugin>
  </gazebo>
</robot>
